<template name="dispute">
  <div class="container">
    <div class="top_image">
      <img src="/ship.png" />
      <p class="top_headline">退房流程</p>
    </div>
  </div>
  <div class="cargo_header">
    <ul class="rainbow_border">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="container cargo">
    <div class="cargo_header dispute_resolution">
      <div class="dispute_header">
        <span>身份验证</span>
      </div>
      <div class="col-xs-4">
        <h2>个人照片</h2>
        <a href="http://219.141.189.132:8080/ipfs/{{this.cargo.credit}}" class="glyphicon glyphicon-list-alt document" aria-hidden="true"></a>
      </div>
      <div class="col-xs-4">
        <h2>身份证</h2>
        <a href="http://219.141.189.132:8080/ipfs/{{this.cargo.export}}" class="glyphicon glyphicon-list-alt document" aria-hidden="true"></a>
      </div>
      <div class="col-xs-4">
        <h2>护照</h2>
        <a href="http://219.141.189.132:8080/ipfs/{{this.cargo.invoice}}" class="glyphicon glyphicon-list-alt document" aria-hidden="true"></a>
      </div>
	<br>
	{{#if this.cargo.status  }}
          <button class="btn btn-lg btn-warning shipment_button" id="back_room">办理退房</button>
	{{ else }}
          <button class="btn btn-lg btn-warning shipment_button" >退房成功</button>
	{{/if}}
    </div>
  </div>
</template>
